*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url(login_page_background.jpeg);
    background-size: cover;
    overflow: hidden;
}

.container{
    display: flex;
    height: 92%;
    width :150vh;
    border-radius: 20px;
    overflow:hidden;
    background:white;
    box-shadow: 0 15px 40px rgba(0,0,0,.18);
}
.left-panel{
    width: 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    
    
}
.left-panel h1{
    font-size: 50px;
}
.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        135deg,rgba(0,120,130,.65),rgba(0,170,180,.40)
    );

}
.company{
    position:relative;
    color:white;
    z-index:5;
}
.company{
    font-size:42px;
    font-weight: 700;
    letter-spacing: 2px;
}
.logo{
    width:85px;
    margin-bottom: 20px;
}

.company p{
    margin-top:10px;
    font-size: 18px;
    opacity: 9;
}

.features{
    position:relative;
    z-index:5;

}

.feature{
    display:flex;
    align-items: center;
    gap:18px;
    margin-bottom: 30px;
    color: white;
}

.feature i{
    width:58px;
    height: 58px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 22px;
    background: rgba(255,255,255,.20);
    backdrop-filter:blur(10);
}

.feature h4{
    font-size: 18px;

}

.feature span{
    font-size:14px;
    opacity: .9;
}
.right-panel{
    width:50%;
    display : flex;
    justify-content: center;
    align-items: center;
    background: #f8fcfc;
}
.login-card{
    width:470px;
    background:white;
    border-radius:25px;
    padding:45px;
    box-shadow: 0 20px 45px rgba(0,0,0,.10);
}
.login-card h2{
    text-align: center;
    color:#0f5b66;
    font-size: 34px;
}
.subtitle{
    text-align:center;
    color:#777;
    margin-top: 8px;
    margin-bottom:35px;
}

/* part*/

.input-box label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
    color:#444;
    font-weight: 500;
}

.input-field{
    width:100%;
    height:55px;
    display:flex;
    align-items: center;
    background:#f4f8f8;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: 3s;
    padding:0 18px;
}
.input-field:hover{
    border-color: #18b5c3;
}
.input-field:focus-within{
    border-color: #18b5c3;
    background: white;
    box-shadow: 0 0 10px rgba(24,181,195,.25);
}

.input-field i{
    color:#18b5c3;
    font-size:18px

}
.input-field input{
    width:100%;
    border : none;
    outline:none;
    background:transparent;
    padding-left: 15px;
    font-size: 15px;
    color: #333;
}

.input-field input::placeholder{
    color :#999

}
.input-field select{
    width:100%;
    border:none;
    outline:none;
    background: transparent;
    padding-left: 15px;
    font-size: 15px;
    cursor: pointer;
    color:#333;
    appearance: none;
}
.togglepassword{
    cursor:pointer;
    transition: .3s;
}

.togglepassword:hover{
    color:#0f5d66;
}

.login-button{
    width:100%;
    height:55px;
    margin-top: 12px;
    border:none;
    border-radius: 12px;
    background:linear-gradient(135deg,#18b5c3,#0f5b66);
    color:white;
    font-size: 17px;
    font-weight: 600;
    cursor :pointer;
    transition:.35s;
}
.login-button i{
    margin-right: 10px;
}
.login-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(24,181,195,.35);
}
.login-button:active{
    transform: scale(.98);
}
.footer{
    margin-top: 28px;
    text-align: center;
    color: #888 
}
.login-card{
    animation:fadeIN .8s ease;
}

.company{animation: slideLeft 1s ease;}
.features{animation: slideUP 1.2s ease;}
