@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #eef4ff;
    overflow-x:hidden;
}
.container{
    display:flex;
    width:100%;
    min-height: 100vh;
}
.sidebar{
    width:270px;
    background: #ffffff;
    position: fixed;
    left:0;
    top:0;
    bottom:0;
    padding:25px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    display:flex;
    flex-direction: column;
}
.logo{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 40px;
}

.logo img{
    width:130px;
    height: 130px;
    object-fit: contain;
}

.logo h2{
    font-size: 20px;
    color : #165DFF;
    font-weight: 700;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    display:flex;
    align-items:center;
    gap:18px;
    padding : 16px 20px;
    margin-bottom: 12px;
    border-radius : 14px;
    cursor : pointer;
    transition: .35s;
    font-size: 15px;
    font-weight: 500;
    color: #555;
}
.sidebar ul li i{
    font-size: 18px;
    width: 22px;
}

.sidebar ul li:hover{
    background: #e8f1ff;
    color: #165Dff;
}
.sidebar .active{
    background: linear-gradient(135deg,#1665ff,#4f8fff);
    color: white;
}

main{
    margin-left: 270px;
    width:calc(100%-270px);
    padding: 35px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 35px;
}

header h1{
    font-size:34px;
    color:#222;
    margin-bottom: 6px;
}

header p{
    color: #8c8c8c;
}
.right-header{
    display: flex;
    align-items: center;
    gap: 18px;
}
.search{
    width:360px;
    height:52px;
    background: white;
    display:flex;
    align-items: center;
    gap: 12px;
    padding : 0 18px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,.06);
}
.search i{
    color:#7c7c7c;
}
.search input{
    width: 100%;
    border:none;
    outline:none;
    font-size:15px;
    background :none;
}
.right-header button{
    width: 48px;
    height: 48px;
    border:none;
    border-radius: 50%;
    background :white;
    cursor:pointer;
    font-size:18px;
    transition: .3s;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
}
.right-header button:hover{
    background:#1665ff;
    color: white;
}
.profile{
    display:flex;
    align-items: center;
    gap:3px;
    cursor:pointer;
}
.profile img{
    width:48px;
    height:48px;
    border-radius: 50%;
    object-fit: cover;
}

.profile span{
    font-weight: 600;
    color:#444;
}

.cards{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:22px;
    margin-bottom: 35px;
}
.card{
    background:#fff;
    border-radius:20px;
    padding:22px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: .35s;
    box-shadow: 0 15px 30px rgba(0,0,0,.05);
    cursor:pointer;
}
.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 20px 45px rgba(22,101,255,.35);
}
.card span{
    font-size:14px;
    color: #8b8b8b;
}

.card h2{
    margin-top:8px;
    font-size:30px;
    color:#1d1d1d;
}

.card i{
    width:60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:18px;
    font-size:24px;
    color:#1665ff;
    background:#edf4ff;
}

.top-actions{
    display:flex;
    justify-content: flex-end;
    gap:18px;
    margin-bottom: 25px;
}

.export,.new-service{
    border:none;
    padding:14px 26px;
    border-radius:14px;
    font-size:15px;
    font-weight: 600;
    cursor:pointer;
    transition: .3s;
}
.export{
    background:white;
    color:#555;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
}
.export:hover{
    background:#edf4ff;
}
.new-service{
    background: linear-gradient(135deg,#1665ff,#4b91ff);
    color:white;
    box-shadow:0 12px 28px rgba(22,101,255,.35)
}
.new-service:hover{
    transform: translateY(-3px);
}
.filter-section{
    background:white;
    padding:22px;
    border-radius:18px;
    display:flex;
    gap: 20px;
    align-items: center;
    margin-bottom:30px;
    box-shadow: 0 10px 25px rgba(0,0,0,.05);
}
.filter-box{
    flex: 1;
    display:flex;
    align-items: center;
    gap:12px;
    border: 1px solid #e8e8e8;
    padding: 8px 10px;
    border-radius: 12px;
}
.filter-box select,.filter-box input{
    width:100%;
    border:none;
    outline:none;
    font-size: 15px;
    background:none
}
.filter-btn{
    border:none;
    background:white;
    padding: 14px 28px;
    border-radius:12px;
    cursor:pointer;
    font-weight: 600;
    transition:.3s;

}

.filter-btn:hover{
    background:#f5f5f6;
}

.table-container{
    background:white;
    border-radius: 20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.05)
}
table{
    width:100%;
    border-collapse: collapse;
}
thead{
    background:#1665ff;
    color:white;
}
thead th{
    padding:18px;
    text-align: left;
    font-size: 14px;
    font-weight:600;
}
tbody td{
    padding: 18px;
    border-bottom:1px solid #efefef;
    font-size:14px;
    color:#444;
}
tbody tr{
    transition: .3s;
}
tbody tr:hover{
    background:#f7fbff
}

.tech{
    display:flex;
    align-items: center;
    gap:12px;
}
.tech img{
    width: 42px;
    height : 42px;
    border-radius:50%;
    object-fit:cover;
}
.progress{
    background:#fff4b6;
    color:#c88a00;
    padding: 8px 14px;
    border-radius: 30px;
    font-weight: 600;
    font-size:13px;
}
.completed{
    background:#dff8ea;
    color:#13964f;
    padding: 8px 14px;
    border-radius:30px;
    font-weight:600;
}

.rejected{
    background:#ffe1e1;
    color:#d62020;
    padding:8px 20px;
    border-radius:30px;
    font-weight:600;
    
}
.pending{
    background:#eef3ff;
    color: #1665ff;
    padding: 8px 14px
}

.confirmed{
    background: #daf7e7;
    color:#168f47;
    padding: 8px 14px;
    border-radius: 30px;
}

.icon-btn{
    width:42px;
    height:42px;
    border:none;
    background:#eef4ff;
    color:#1665ff;
    margin-right: 8px;
    cursor:pointer;
    transition : .3s;
}
.icon-btn:hover{
    background:#1665ff;
    color:white;
}
.reason-btn{
    border:none;
    background:#ffefef;
    color:#d62020;
    padding:10px 12px;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
}
.reason-btn:hover{
    background:#d62020;
    color:white;
}
.pagination{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    gap: 12px;
    margin-top: 30px;
}

.page,.page-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius: 12px;
    background: white;
    cursor:pointer;
    font-weight: 600;
    transition:.3s;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);
}

.page:hover,.page-btn:hover{
    background: #1665ff;
    color:white;
}
.active-page{
    background:#1665ff;
    color:white;
}

.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.45);
    display:none;
    justify-content: center;
    align-items: center;
    z-index:999;
}
.modal-content{
    width:720px;
    background: white;
    border-radius:22px;
    padding:30px;
    animation:popup .3s ease;
    box-shadow: 0 25px 60px rgba(0,0,0,.15);
}
.small{
    width:520px;
}
.image-preview img{
    width:100%;
    border-radius:16px;
}
video{
    width:100%;
    border-radius:16px;
}
.modal-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.modal-header h2{
    font-size:24px;
    color:#222;
}

.close{
    width:45px;
    height: 45px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    background:#edf4ff;
    color:#1665ff;
    transition:.3s;
}
.close:hover{
    background:#1665ff;
    color:white;
}
.details-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.detail label{
    font-size: 13px;
    color: #888;
    margin-bottom:6px;
}

.detail p{
    font-size: 15px;
    color:#222;
    font-weight: 500;
}

.full{
    grid-column: 1/3;
}
form{
    display:flex;
    flex-direction:column;
    gap: 18px;
}
form label{
    font-size: 14px;
    color:#555;
    font-weight: 600;
}

form select,textarea{
    width:100%;
    border:1px solid #e2e2e2;
    border-radius: 12px;
    padding:14px;
    outline: none;
    font-size:15px;
    resize:none;
    transition:.3s;
}
form select:focus,form textarea:focus{
    border-color: #1665ff;
}
textarea{
    height:120px;
}

.save-btn{
    background: linear-gradient(135deg,#1665ff,#4c92ff);
    color:white;
    border:none;
    padding:15px;
    border-radius:14px;
    cursor: pointer;
    font-size:15px;
    font-weight: 600;
    margin-top:10px;
    transition:.3s;
}
.save-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(22,101,255,.30)
}

.reason-text{
    line-height: 30px;
    color:#555;
    font-size:15px;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background:#edf2ff;
}
::-webkit-scrollbar-thumb{
    background:#1665ff;
    border-radius:20px;
}
@keyframes popup{
    from{
        transform: translateY(-40px);
        opacity: 0;
    }
    to{
        transform:translateY(0);
        opacity:1
    }
}

@keyframes fade{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

@media(max-width:1200px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .filter-section{
        flex-wrap:wrap;
    }
}
@media(max-width:900px){
    .sidebar{
        width:90px;
        padding:15px;
    }
    .sidebar h2{
        display:none;
    }
    .sidebar li {
        justify-content: center;
    }
    .sidebar li span{
        display:none;
    }
    main{
        margin-left: 90px;
        width:calc(100%-90px);
    }
    header{
        flex-direction: column;
        gap:20px;
        align-items: flex-start;
    }
    .search{
        width:100%;
    }
    .details-grid{
        grid-template-columns: 1fr;
    }
    .full{
        width:100%
    }
}
@media(max-width:600px){
    .cards{
        grid-template-columns: 1fr;
    }
    .table-container{
        overflow-x:auto;
    }
    .modal-content{
        width: 95%;
        padding:20px;
    }
}
